name: Custom CI
on:
  push:
    branches:
      - main
jobs:
  show-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: '1.13.0'
      - name: Show Terraform version
        run: terraform version